html {
  height: 100%;
}

body {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100%;
}

.time {
  display: flex;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
  font-size: 30vh;
}

.time span {
  display: block;
  margin: 0 5vw;
}

.animate-pulse {
  animation-duration: 980ms;
  animation-name: pulse;
}

@keyframes pulse {
  from {
    animation-timing-function: ease-in;
    transform: scale(1, 1);
    opacity: 1;
  }

  20% {
    animation-timing-function: ease-out;
    transform: scale(0.8, 0.8);
    opacity: 0;
  }

  60% {
    animation-timing-function: ease-in;
    transform: scale(1.2, 1.2);
    opacity: 1;
  }

  to {
    opacity: 1;
    transform: scale(1, 1);
  }
}

.scale-inf {
  animation-duration: 2s;
  animation-name: scale-inf;
  animation-timing-function: linear;
}

@keyframes scale-inf {
  to {
    transform: scale(50, 50);
  }
}

.bar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 3vw;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}

.bar .time {
  background: #02779E;
  width: 0;
  transition: width 500ms linear;
}